* {
    padding: 0px;
    margin: 0px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(https://static.vecteezy.com/system/resources/thumbnails/027/447/048/small_2x/silhouette-of-a-tree-in-black-and-white-photo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 65px;
    margin: auto;
}

.icon {
    width: 230px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 30px;
    font-family: Arial;
    padding-left: 2px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 4px;
    float: left;
    height: 7px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
}

ul li {
    list-style: none;
    font-size: 14px;
    margin: 42px;
    margin-top: 27px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    width: 310px;
    margin-left: 970px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 4px;
    float: left;



}

.btn {
    background: #ff7200;
    width: 90px;
    height: 50px;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    margin: auto;
    height: auto;
    width: 1200px;
    color: white;
    position: relative;
}

.content .para {
    padding-left: 10px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 10px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.content .brn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .brn a {
    color: black;
    text-decoration: none;
}

.brn:hover {
    background-color: white;
}

.content span {
    color: #ff7200;
    font-size: 60px;
}

.form {
    width: 260px;
    height: 400px;
    background: linear-gradient(to top, rgba(43, 42, 42, 0.22)90%, rgba(43, 42, 42, 0.22)90%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-left: 12px;

}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    margin-left: 9px;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: wheat;
}

.btnn:hover {
    background: white;
    color: #ff7200;
    transition: .4s ease;
}

.btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color: #ff7200;

}
.liw{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:10px ;
    text-align: center;
}
.icon{
    margin-top: 30px;
    margin-left: 15px;

}
.icon a{
    text-decoration: none;
    color: white;
    padding: 5.5px;
    font-size: 25px;
   
  
}